.div1{
        position :absolute;
        top: 40px;
        left: 40px;
        float: left;
    }
    
.div2{
        overflow:auto;
        position :relative;
        top: 40px;
        left: 0px;
    }
.span1{
        width:80px;
        text-align:right;
        display:inline-block;
    }