div.div1{
        position :absolute;
        top: 40px;
        left: 40px;
        float: left;
    }
    
div.div2{
        overflow:auto;
        position :relative;
        top: 40px;
        left: 0px;
    }
span.span1{
        width:80px;
        text-align:right;
        display:inline-block;
    }
    
table.dataintable {
	margin-top:10px;
	border-collapse:collapse;
	border:1px solid #aaa;
	width:100%;
	}

table.dataintable th {
	vertical-align:baseline;
	padding:5px 15px 5px 6px;
	background-color:#d5d5d5;
	border:1px solid #aaa;
	text-align:left;
	}

table.dataintable td {
	vertical-align:text-top;
	padding:6px 15px 6px 6px;
	background-color:#efefef;
	border:1px solid #aaa;
	}

table.dataintable pre {
	width:auto;
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
	}

table.dataintable p {margin:0 0 2px 0;}