@charset "utf-8";
/*!
 * Main
 */
/*
  @name: reset.css v1.0;
  @function: reset browser default style;
*/
/* Prevent users from custom background color to the influence of the web page, add allows users to customize the font */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:not(input,textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
}
body {
  font: 14px/1.5 "HelveticaNeue", "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  color: #333333;
}
/* Remove default margin */
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
}
/* HTML5 display definitions, IE need js createElement(TAG) http://code.google.com/p/html5shiv/ */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
/* HTML5 media */
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*  form element does not inherit the parent */
button,
input,
select,
textarea {
  font: 12px/1.5 "HelveticaNeue", "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
}
button,
input[type="button"] {
  cursor: pointer;
}
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/*Improve readability when focused and also mouse hovered in all browsers.*/
a,
a:active,
a:hover,
a:focus {
  outline: 0 none;
}
/*delete style*/
a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
/* IE bug fixed: th no inheritance text-align*/
th {
  /*text-align:inherit;*/
  /*text-align:left;*/
}
/* delete default outline */
fieldset,
img {
  border: 0;
}
img {
  -ms-interpolation-mode: bicubic;
  /* fix IE7 scale blur bug */
  vertical-align: middle;
}
/* ie6 7 8(q) bug */
iframe {
  display: block;
}
/* delete firefox border */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* delete list style */
ol,
ul {
  list-style: none;
}
caption {
  text-align: left;
}
/* reset title */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
  /*Optimize the text readability*/
}
h1 {
  font-size: 18px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 16px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 14px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}
q:before,
q:after {
  content: '';
}
/* unified */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* The default is not underlined, keep the page is simple */
ins {
  text-decoration: none;
}
/* clear float */
.fn_clear:before,
.fn_clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.fn_clear:after {
  clear: both;
}
.fn_clear {
  zoom: 1;
  /* for IE6 IE7 */
}
* html .fn_clear {
  zoom: 1;
  /* IE6 */
}
*:first-child + html .fn_clear {
  zoom: 1;
  /* IE7 */
}
/* hide, work with JS */
body .fn_hide {
  display: none;
}
/* Reduce the bug on floating */
.fn-left,
.fn-right {
  display: inline;
}
.fn-left {
  float: left;
}
.fn-right {
  float: right;
}
.fn_fix {
  position: fixed;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular.eot');
  src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}
@font-face {
  font-family: "HelveticaNeue";
  src: url('./fonts/helveticaneue.eot');
  src: url('./fonts/helveticaneue.eot?#iefix') format('embedded-opentype'), url('./fonts/helveticaneue.woff') format('woff'), url('./fonts/helveticaneue.ttf') format('truetype'), url('./fonts/helveticaneue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
input,
select,
textarea {
  background-color: #fff;
  border: 0 none;
  padding: 4px 8px;
  width: 100%;
}
.top {
  background-image: url(../images/banner_1x.png);
  background-image: -webkit-image-set(url(../images/banner_1x.png) 1x, url(../images/banner_2x.png) 2x);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 0 70px;
}
.ibm_logo {
  text-align: right;
  margin-bottom: 10px;
}
.logo {
  float: left;
}
.search {
  float: right;
  color: #fff;
}
.search .search_label {
  margin-top: 20px;
  margin-bottom: 5px;
}
.search .search_input {
  font-size: 0;
}
.search .search_input input {
  padding: 8px 10px;
  font-size: 12px;
  color: #333333;
  width: 320px;
  border: 1px solid #269dd9;
}
.search .search_input button {
  padding: 6px 10px;
  width: 70px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #269dd9;
  border-left: 0;
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  vertical-align: top;
}
nav {
  border-bottom: 1px solid #eeeeee;
  height: 50px;
}
nav ul {
  text-align: center;
}
nav li {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin: 0 15px;
}
nav li a {
  color: #269dd9;
  font-size:16px;
}
nav li a:hover {
  color: #555555;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.container > h2 {
  margin-top: 20px;
}

.container .breadcrum{
	margin-left:85px;
	margin-top:30px;
}
hr {
  height: 1px;
  border-top: 1px solid #aaaaaa;
  margin: 0 auto;
  width: 1170px;
  margin-top: 10px;
}
main h2 {
  margin-top: 10px;
  line-height: 1.5;
}
main a {
  font-size: 12px;
  color: #269dd9;
}
main a:hover {
  color: #555555;
}
article {
  float: left;
  width: 74%;
  margin-right: 1%;
}
article p {
  margin: 5px 0;
  font-size: 14px;
}
article p.time {
  color: #777777;
  font-size: 12px;
}
.side_news p {
  color: #269dd9;
  padding: 8px 0;
  border-top: 1px solid #eeeeee;

}
.side_news p a{
    font-size:14px;
}
.side_news p:first-of-type {
  margin-top: 10px;
}
.side_news a {
  display: block;
}
.side_news a.p_more {
  text-align: right;
}
aside {
  float: right;
  width: 24%;
  margin-left: 1%;
}
.panel {
  background-color: #f2f2f2;
  width: 100%;
  padding: 15px;
  clear: both;
}
.panel-primary {
  height: 80px;
}
.find_box .bg_blue {
  background-color: #228ec3;
}
.find_box .bg_blue a {
  background-color: #269dd9;
}
.find_box .bg_green {
  background-color: #8ec322;
}
.find_box .bg_green a {
  background-color: #9dd926;
}
.find_box .bg_yellow {
  background-color: #c3a822;
}
.find_box .bg_yellow a {
  background-color: #d9bb26;
}
.find_box .bg_purple {
  background-color: #a822c3;
}
.find_box .bg_purple a {
  background-color: #bb26d9;
}
.find_box li {
  padding-right: 25px;
  margin: 10px 0 20px 0;
  background: url(../images/arrow.png) no-repeat 97% center;
}
.find_box a {
  display: block;
  padding: 20px 10px;
  color: #555555;
}
.find_box a:hover {
  color: currentColor;
}
.find_box a span {
  text-align: right;
  display: block;
  color: #ffffff;
}
.find_box a .title {
  font-size: 36px;
  color: #ffffff;
}
.data_map .data_name {
  text-align: center;
  font-size: 16px;
}
.data_map .data_number {
  text-align: center;
  font-size: 36px;
  border-right: 1px solid #eeeeee;
}
.data_map .grid3:nth-of-type(1) .data_number {
  color: #269dd9;
  border-left: 1px solid #eeeeee;
}
.data_map .grid3:nth-of-type(2) .data_number {
  color: #9dd926;
}
.data_map .grid3:nth-of-type(3) .data_number {
  color: #d98e26;
}
.data_map .grid3:nth-of-type(4) .data_number {
  color: #bb26d9;
}
.new_event img {
  border-top: 3px solid #bb26d9;
}
.new_event .new_event_title,
.new_event .new_event_content,
.new_event .new_event_action {
  background-color: #354144;
  padding: 0 15px;
}
.new_event .title {
  color: #bb26d9;
  padding-top: 15px;
}
.new_event .title_content {
  font-size: 14px;
  color: #ffffff;
}
.new_event .new_event_content .date_time {
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #ffffff;
}
.new_event .new_event_content .date_time .date {
  font-size: 54px;
  color: #bb26d9;
}
.new_event .new_event_content .date_time b {
  color: #bb26d9;
}
.new_event .new_event_content .date_content {
  font-size: 14px;
  display: inline-block;
  width: 73%;
  color: #bbb;
  vertical-align: top;
  margin-top: 15px;
}
.new_event .new_event_action {
  padding-top: 15px;
  padding-bottom: 15px;
}
.new_event .btn-event {
  padding: 10px;
  display: block;
  font-size: 16px;
}
.coming_event {
  padding-top: 10px;
}
.coming_event li {
  border-left: 1px solid #eeeeee;
  padding-left: 15px;
  padding-bottom: 10px;
  position: relative;
}
.coming_event li:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #bb26d9;
  position: absolute;
  left: -8px;
  top: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.coming_event .coming_event_time {
  color: #777777;
  font-size: 12px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.video_news a {
  display: block;
  text-align: right;
}
.work_space hr {
  width: 100%;
}
.work_space .item li {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
}
.work_space .item li p {
  font-size: 12px;
}
.work_space .item + a {
  display: block;
  text-align: right;
}
.work_space article > a {
  display: block;
  text-align: right;
}
.work_space .info_title {
  font-size: "HelveticaNeue", "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;
}
.work_space .info_content {
  font-size: 12px;
}
.work_space .info_date {
  font-size: 12px;
  color: #777777;
}
.space_info {
  padding: 15px;
  color: #ffffff;
  background-color: #354144;
}
.space_info p {
  font-size: 16px;
}
.space_info p.price {
  font-size: 18px;
  text-align: right;
}
.space_info p.price b {
  color: #d92644;
}
.weibo_interaction {
  background-color: #eeeeee;
  margin-top:10px;
}
.weibo_interaction li {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaaaaa;
}
.weibo_interaction .weibo_title {
  padding: 10px 18px;
  background-color: #269dd9;
  color: #ffffff;
}
.weibo_interaction .weibo_content {
  margin: 18px;
  padding-bottom: 10px;
}
.weibo_interaction .weibo_content > a {
  display: block;
  text-align: right;
}
.weibo_interaction .w_title {
  margin-bottom: 10px;
}
.weibo_interaction .w_content {
  font-size: 12px;
  margin-bottom: 10px;
}
.weibo_interaction .w_time {
  color: #777777;
  font-size: 12px;
}
.weibo_interaction .w_time span {
  float: right;
}
.news li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.news li .news_img {
  display: inline-block;
  width: 34%;
  margin-right: 2%;
  vertical-align: top;
}
.news li .news_content {
  display: inline-block;
  width: 60%;
}
.news li .news_content h2 {
  margin-top: 0;
}
.startups li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.startups li .startups_img {
  display: inline-block;
  margin-right: 2%;
  vertical-align: top;
}
.startups li .startups_content {
  display: inline-block;
  width: 80%;
}
.startups li .startups_content h2 {
  margin-top: 0;
}
footer {
  margin-top: 20px;
  height: 240px;
  background-color: #354144;
}
footer .logo {
  margin-top: 60px;
}
footer .social {
  float: left;
  margin-top: 100px;
  margin-left: 40px;
}
footer .social a {
  display: inline-block;
  margin: 0 10px;
}
footer p {
  font-size: 12px;
  color: #777777;
  margin: 10px 0;
}
footer p.white {
  margin-top: 15px;
  color: #ffffff;
}
.btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  pointer-events: none;
  -webkit-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
}
.btn-default {
  color: #333333;
  background-color: #f2f2f2;
  border-color: #e5e5e5;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #333333;
  background-color: #e5e5e5;
  border-color: #d9d9d9;
}
.btn-default:active,
.btn-default.active {
  background-color: #d9d9d9;
}
.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active {
  background-color: #f2f2f2;
  border-color: #e5e5e5;
}
.btn-primary {
  color: #ffffff;
  background-color: #269dd9;
  border-color: #228ec3;
}
.btn-white {
  color: #555555;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #228ec3;
  border-color: #1f7ead;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #1f7ead;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active{
  color: #555555;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
  background-color: #269dd9;
  border-color: #228ec3;
}
.btn-success {
  color: #ffffff;
  background-color: #9dd926;
  border-color: #8ec322;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #8ec322;
  border-color: #7ead1f;
}
.btn-success:active,
.btn-success.active {
  background-color: #7ead1f;
}
.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
.btn-success.disabled.active,
.btn-success[disabled].active {
  background-color: #9dd926;
  border-color: #8ec322;
}
.btn-info {
  color: #ffffff;
  background-color: #26d9ca;
  border-color: #22c3b6;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #22c3b6;
  border-color: #1fada2;
}
.btn-info:active,
.btn-info.active {
  background-color: #1fada2;
}
.btn-info.disabled,
.btn-info[disabled],
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
.btn-info.disabled.active,
.btn-info[disabled].active {
  background-color: #26d9ca;
  border-color: #22c3b6;
}
.btn-warning {
  color: #ffffff;
  background-color: #d98e26;
  border-color: #c38022;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #c38022;
  border-color: #ad721f;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #ad721f;
}
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active {
  background-color: #d98e26;
  border-color: #c38022;
}
.btn-danger {
  color: #ffffff;
  background-color: #d92644;
  border-color: #c3223d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #c3223d;
  border-color: #ad1f36;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #ad1f36;
}
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active {
  background-color: #d92644;
  border-color: #c3223d;
}
.btn-event {
  color: #ffffff;
  background-color: #bb26d9;
  border-color: #a822c3;
}
.btn-event:hover,
.btn-event:focus,
.btn-event.focus,
.btn-event:active,
.btn-event.active {
  color: #ffffff;
  background-color: #a822c3;
  border-color: #961fad;
}
.btn-event:active,
.btn-event.active {
  background-color: #961fad;
}
.btn-event.disabled,
.btn-event[disabled],
.btn-event.disabled:hover,
.btn-event[disabled]:hover,
.btn-event.disabled:focus,
.btn-event[disabled]:focus,
.btn-event.disabled.focus,
.btn-event[disabled].focus,
.btn-event.disabled:active,
.btn-event[disabled]:active,
.btn-event.disabled.active,
.btn-event[disabled].active {
  background-color: #bb26d9;
  border-color: #a822c3;
}
/* === Grid === */
.row {
  *zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row [class*="grid"] {
  display: block;
  padding: 10px;
  position: relative;
  float: left;
  min-height: 1px;
}
.grid12 {
  width: 100%;
}
.grid11 {
  width: 91.66666667%;
}
.grid10 {
  width: 83.33333333%;
}
.grid9 {
  width: 75%;
}
.grid8 {
  width: 66.66666667%;
}
.grid7 {
  width: 58.33333333%;
}
.grid6 {
  width: 50%;
}
.grid5 {
  width: 41.66666667%;
}
.grid4 {
  width: 33.33333333%;
}
.grid3 {
  width: 25%;
}
.grid2 {
  width: 16.66666667%;
}
.grid1 {
  width: 8.33333333%;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: auto;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  opacity: 0.65;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.slick-slide img:hover {
  opacity: 1;
}
.slick-slide.slick-current img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slider-for {
  height: 400px;
}
.slider-for-s {
  height: 100px;
}
.slider-nav img {
  margin: 10px;
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #BBB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -20px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '←';
}
[dir='rtl'] .slick-prev:before {
  content: '→';
}
.slick-next {
  right: -22px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '→';
}
[dir='rtl'] .slick-next:before {
  content: '←';
}
/* page */
.pagination {
  height: 32px;
  line-height: 32px;
  float: right;
  font-size: 0;
}
.pagination a {
  border: 1px solid #c4c4c4;
  margin-left: -1px;
  background: #ffffff;
  color: #777777;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 11px;
}
.pagination a:hover {
  background: #eeeeee;
  text-decoration: none;
  color: currentColor;
}
.pagination a:active {
  outline: 0 none;
  background: #6f6f6f;
  border-color: #555555;
  color: #ffffff;
}
.pagination a.current,
.pagination a.current:hover {
  background: #269dd9;
  color: #ffffff;
}
.pagination .previous {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.pagination .next {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.pagination .disabled,
.pagination .disabled:hover,
.pagination .disabled:active {
  background: #eeeeee;
  border: 1px solid #c4c4c4;
  color: #777777;
}
.row [class*="grid"].ad_img{
  padding:0 0 0 10px;
}
.row [class*="grid"].ad_content{
  background-color:#f5f5f5;
  height:150px;
  padding:35px 35px 35px 50px;
  font-size: 1.1em;
}
.row [class*="grid"].ad_button{
  background-color:#f5f5f5;
  height:150px;
}
.row [class*="grid"].ad_button .btn{
  margin-left:15%;
  margin-top:18%;
}
.coming_event_content{
  font-size:14px;
}
.roadshow{
  padding-top:10px;
}
.roadshow .road-title{
  background: #5bc5ff none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.roadshow .road-content{
  background: #f0f0f0 none repeat scroll 0 0;
    height: 190px;
    padding:20px;
}
.roadshow .road-content .road-Channel{
  text-align: center;
  margin-top:10px;
}
.roadshow .road-content .road-Channel a{
  font-size:14px;
}
.lymore{
  background: #4da5d5 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin: 10px auto;
    position: relative;
    text-indent: 21px;
    width: 126px;
}
.lymore span{
  background: #3780a8 none repeat scroll 0 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    text-indent: 0;
    top: 0;
    width: 39px;
    padding-left:15px;
}
.city-warp img{
  float:left;
}
.city-list p{
  font-size:14px;
}
.info_tilte a{
  font-size:14px;
}
.info_tilte{
  font-weight:bold;
}
h2.title_bg{
  padding-left:10px;
  font-size:1.4em;
  padding-right:10px;
  display: inline-block;
}
h2.title_bg1{
    background: rgba(0, 0, 0, 0) url("../images/h2_bg_1.png") no-repeat scroll 0 0;
}
h2.title_bg2{
    background: rgba(0, 0, 0, 0) url("../images/h2_bg_2.png") no-repeat scroll 0 0;
}
h2.title_bg3{
    background: rgba(0, 0, 0, 0) url("../images/h2_bg_3.png") no-repeat scroll 0 0;
}
h2.title_bg4{
    background: rgba(0, 0, 0, 0) url("../images/h2_bg_4.png") no-repeat scroll 0 0;
}
h2.title_bg5{
    background: rgba(0, 0, 0, 0) url("../images/h2_bg_5.png") no-repeat scroll 0 0;
}
.panel_blue{
  background-color:#269dd9;
}
.panel_green1{
  background-color:#9dd926;
}
.panel_orange{
  background-color:#ff9933;
}
.panel_purpose{
  background-color:#cf77d7;
}
.compang_t{
  background-color:#f2f2f2;
  padding:15px;
  margin-top:10px;
}
.chanping-i-text{
  margin-top:15px;
} 
.startups li .startups_content.startups_content_a{
  width:60%;
}

.shaixuan_logo{
  background-color: #4dbdb4;
    color: #ffffff;
    padding: 35px 0;
    text-align: center;
    margin-top:10px;
}
.shaixuan_logo span{
  font-size:20px;
}
.map-spance{
  background-color: #5a5a5a;
    height: 124px;
    margin-top:20px;
    padding:20px;
}

.map-spance p{
  color:#4dbdb4;
  font-size:1.4em;
  margin-left:15px;
}
.lia{
  background-color: #4ebdb4;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    margin-left: 36px;
    margin-top: 20px;
    text-align: center;
    width: 156px;v
}
.active-fancy{
  background-color:#f2f2f2;
  margin-top:10px;
  padding:15px;
}

.active-fancy h3{
  padding-bottom:10px;
  border-bottom:solid 1px #ccc;
}

.active-mode{
  margin-top:15px;
}

.city-warp{
  background-color: #f2f2f2;
  margin-top:10px;
  padding:15px;
}
.clear{
  clear:both;
}
.city-list{
  margin-bottom: 20px;
  height:100px;
}

.city-list img{
  padding-right:15px;
}
.li-linebox{
  border: 2px solid #9dd926;
    border-radius: 4px;
    color: #9dd926;
    display: inline-block;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom:15px;
    margin-top:5px;
}
.li-linebox-purpose{
  border: 2px solid #cf77d7;
    color: #cf77d7;
}
.li-linebox-orange{
  border: 2px solid #ff9933;
    color: #ff9933;
}
.li-linebox-green{
  border: 2px solid #9dd926;
    color: #9dd926;
}
.edit-box{

  padding:20px;
}
.edit-box .form-group .label-right{
  text-align: right;
}

#rollingnews.swiper-container{
  height:500px;
  width:570px;
}

#rollingnews.swiper-container-horizontal>.swiper-pagination{
  top:220px;
  bottom:initial;
}

#rollingnews.swiper-pagination-bullet-active{
  background:#eee;
}

#popimg.swiper-container{
  height:130px;
  width:275px;
}

.text{
  overflow: hidden;
}

.BMap_pop>div:last-of-type{
  overflow:auto !important;
}

.login{
  padding-top: 200px;
  /* background-image: url(../images/banner_1x.png); */
  background-image: -webkit-image-set(url(../images/banner_1x.png) 1x, url(../images/banner_2x.png) 2x);
  /* background-position: center center; */
  background-repeat: no-repeat;
  /* padding: 300px; */
  height: 800px;
  background-size: cover;
}

.login .container{
  width:80%;
}

.login label{
  font-weight: bold;
}

.login .btn.btn-primary{
  width: 100%;
  margin-top: 20px;
}

.login input,.login button{
  box-shadow: 1px 1px 10px #000;
}
.nav_tilte {
  font-size:24px;
  font-weight:bold;
}


